
.home {
  min-height: 800px;
  background: url('./assets/mountains.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
}

.videoContainer {
  position: relative; 
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.video {
  width: 100%;
}

.overlay {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}