
.home {
  min-height: 800px;
  background: url('./assets/mountains.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
}

.main1Row1 {
  height: 20%;
}

.main1Row2 {
  height: 60%;
}
